/*aspiring-dr says wear*/

*,
*::before,
*::after {
  box-sizing: border-box;
  
}

.grid {
  font-size: 0;
  text-align: center;
  position: relative;
}

.grid::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.grid > * {
    display: inline-block;
    text-align: center; /* reset the text-alignment */
    font-size: medium; /* reset the font size */
    vertical-align: top;
    transition: all .25s ease; /* optional, but cool */
}

.squarify > *::after{
  content:"";
  display: block;
  padding-top: 100%;
}

main{
  padding: 1.0rem;
  margin: 0 auto;
}

section{
  border: 2px solid rgba(58,113,209,1);
  max-width: 22rem;
  margin: 1.0rem auto;
  width: 100%;
}

  .product{
    position: relative;
    height: 20rem;
    text-align: center;
  } 
    .product .rotate-box{
      position: absolute;
      color: rgba(58,113,209,1);
      z-index: 10;
      top: 0;
      right: 0;
      border-left: 2px solid rgba(58,113,209,1);
      border-bottom: 2px solid rgba(58,113,209,1);

      padding: .33rem .75rem;
      cursor: pointer;
      transition: color .25s;
      
    }
    .product .rotate-box i.fa{
      transform: rotate(0);
      transition: transform 1s;}

    .product .rotate-box:hover i.fa{
      transform: rotate(-540deg);
      color: rgba(58,113,209,.3);
    }
    
    .product img{
       position: absolute;
       top: 0%;
       left: 12.0%;
       height: 100%;
       z-index: 0;
    }
    /***********************
     *  Img Animation
     * ********************
     */
    .product img.front,
    .product img.back {
      transition: opacity .25s, transform .25s; 
    }
    .product img.front {
      opacity: 1;
    }
      .rotate-box:hover ~ img.front{
        transform: rotateY(180deg);
        opacity: 0;
      } 
    .product img.back{
      opacity: 0;
    }
      .rotate-box:hover ~ img.back { 
        transform: rotateY(180deg);        
        opacity: 1;
      }

  ul.actions-menu {
    list-style-type: none;
    font-size: 0;
    padding: 0;     /*normalize.css has default left-padding*/
    text-align: justify;
  }

  ul.actions-menu li {
    display: inline-block;
    vertical-align: top;  /*necessary for lining up boxes-- boxes are center aligned by default*/
    width: 20%;
    height: 3.3rem;
    padding: 1rem 0;
    font-size: medium;
    border: 2px solid rgba(58,113,209,1);
    border-bottom: none;
    border-left: none;
    font-size: 1.25rem;
    cursor: pointer;
    text-align: center;
  }
  
  ul.actions-menu li:last-child{
    border-right: none;
  }

    ul.actions-menu li,
    ul.actions-menu i.fa {
      background: rgba(255,255,255,1);
      color: rgba(58,113,209,1);
      transition: background .8s, color .8s;
    }
      ul.actions-menu li:hover,
      ul.actions-menu li:hover > i.fa {
      color: rgba(255,255,255,1);
      background: rgba(58,113,209,1);
    }
  
  /* shirt-size li */
    ul.actions-menu li.shirt-size{
        position: relative;
    }

      ul.actions-menu li.shirt-size:hover > .all-sizes,
       ul.actions-menu li.color-swap:hover > .swatches{
        opacity: 1.0;
      }
    ul.actions-menu li.shirt-size .all-sizes {
        position: absolute;
        bottom: 110%;
        left: 0%;
        height: 8rem;
        width: 4rem;
        background: rgba(255,255,255,1.0);
        border: 2px solid black;
        padding: .4rem;
        opacity: 0;
        transition: opacity .8s;
    }



  /* Color Swap li */
    ul.actions-menu li.color-swap {
      font-size: 1.8rem;
      padding: .65rem 0;
      position: relative ;
    }

      li.color-swap .swatches {
        position: absolute;
        bottom: 110%;
        left: -10%;
        height: 5rem;
        width: 5rem;
        background: rgba(255,255,255,1.0);
        border: 2px solid black;
        padding: .4rem;
        opacity: 0;
        transition: opacity .8s;
      }

      .swatch{
      margin: 0 1% 4%;
      width: 46%;
      }

        .swatch:nth-child(1) {
          background: red;}
        .swatch:nth-child(2) {background: green;}
        .swatch:nth-child(3) {background: maroon;}
        .swatch:nth-child(4) {background: blue;}

@media screen and (min-width: 700px){
  .grid-2 > * {width: 46%; transition: all .25s ease;}
  section{margin: 0 1% 2% 1%;}
}

@media screen and (min-width: 1040px){
  .grid-2 > * {width: 31%;}
  section{margin: 0 1% 2% 1%;}
}


